contacts

<h1> contacts </h1>

<% contacts = Contact.all %>

<ul>
<% for contact in contacts %>

<li>
<%= contact ["first_name"] %>
<%= contact ["last_name"] %>
<%= company = Company.find_by "id" =>  ["first_name"] %>
</li>

<% end%>

</ul>